
.cuerpo{
    background: #a800eb;
    background: linear-gradient(to right, #c71485, #6b6bff);
    font-family: "Anybody", sans-serif;
}
svg{
    margin-left: 10px;
}


footer{
    background-color: rgb(33, 33, 33);
    color: white;
    padding: 7px;
    display: block;
    position: fixed; 
    bottom: 0;
    width: 100%;
    
}
header {
    position: sticky;
    top: 0px;
    z-index: 2;
    box-shadow: 0 5px 60px black;
  }
#carouselExample{

   display: contents;
}

#pie{
    font-style: italic;
    margin:8px;
}


.contenedor{

    display: flex;
    
}


